


.highlight { 
	background: #EAEDF2;
}

pre {
    padding: 1rem;
    margin: 2rem 0;
    background: #EAEDF2;
    border: 1px solid #b5bdc9;
    border-radius: 2px;
    line-height: 1.15;
    font-size: 1rem;
}

pre code {
    color: #515D68;
    background: inherit;
    font-size: 1rem;
}

.wy-side-nav-search {
    background-color: #00ad69 !important;
}

.wy-side-nav-search a {
    color: #fff !important;
}

a {
    color: #00ad69 !important;
}

.hover { 
    color: #009271 !important;
}
	
.visited {
    color: #7ccc6c !important;
}
	
.literal {
    color: #f1446f !important;	
}

.rst-versions .rst-current-version {
    color: #00ad69 !important;
}

.headerlink {
    color: #00ad69 !important;
}

.rst-content .note {
    background-color: #ffc82e !important;
}

.rst-content .note .admonition-title {
    background-color: #ffa12d !important;
}

.rst-content .tip {
    background-color: #7CCC6C !important;
}

.rst-content .tip .admonition-title {
    background-color: #00ad69 !important;
}
