


.highlight { 
	background: #EAEDF2;
}

pre {
    padding: 1rem;
    margin: 2rem 0;
    background: #EAEDF2;
    border: 5px solid #b5bdc9;
    border-radius: 2px;
    line-height: 1.15;
    font-size: 1rem;
}

pre code {
    color: #515D68;
    background: inherit;
    font-size: 1rem;
}

.wy-side-nav-search { 
    background-color: #00ad69;
}

a {
    color: #00ad69;

.hover { 
    color: #009271;
}
	
.visited {
    color: #7ccc6c;
}
	
.literal {
    color: #f1446f;	
}

	
.rst-versions {
    color: #00ad69;
}

.headerlink {
    color: #00ad69;
}

	
